.display {
    color: white;
    background-color: black;
    border: none;
    height: 60px;
    border-radius: 50px;
    margin: 10px 30px 0px 30px;
    display: flex;
    justify-content: flex-end;
}

.logo-container {
    padding: 10px 20px 5px 20px;
}